// theme colours
$black: #000000;
$grey: #868585;
$dark-blue: #070ab1;
$mid-blue:  #0e7af5;
$light-blue: #18B3D6;
$green: #089414;
$purple: #C71EC7;
$yellow: #F2E557;

// font colours
$white: #FFFFFF;